<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="consumer_key" value="BjA6fXeatoSK4rmjYvU4mu3ih" />
		<add key="consumer_secret" value="gZpwHxcGED7OEVzUM9xmS3ohQ6SDjKLf8qAnbsTbWgkJRCtStH" />
	</appSettings>
</configuration>